#loading {
    display: none; /* 初始状态下隐藏，JavaScript加载时显示 */
  }
  
  .error {
    color: red;
  }
  
  .error:hover .error-detail {
    display: block;
  }
  
  .error-detail {
    display: none;
  }
  